<h1 class="title">Design Component Examples - Download Table</h1>

<div class="example example-wide">
  <h2>Example 1: Wide Width</h2>
  <app-download-table [files]="TEST_DATA"></app-download-table>
</div>

<div class="example example-narrow">
  <h2>Example 2: Narrow Width</h2>
  <app-download-table [files]="TEST_DATA" [useNarrowStyles]="true"></app-download-table>
</div>

<div class="example example-wide">
  <h2>Example 3: Empty State</h2>
  <app-download-table [files]="EMPTY_DATA"></app-download-table>
</div>
